<!DOCTYPE html>
<html>
    <head>
        <title>Lista de tareas</title>
    </head>
    <body>
        <h1>Tareas</h1>
        <ul>
            {%for task in tasks%}
            <li>
                {% if task.completed %}
                    <s>{{task.title}}  </s>
                {% else %}
                {{task.title}} {{task.status}}
                {% endif %}
                <form method="POST" action="{%url 'task_toggle'  task.id%}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">
                        {%if task.completed%}
                            Marcar como pendiente
                        {%else%}
                            Marcar como completada
                        {%endif%} 

                    </button> 

                </form>

                <a href="{% url 'task_edit' task.id%}">Editar</a>
                <form method="POST" action="{% url 'task_delete' task.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
            </li>
            {%empty%}
            <li>No hay tareas</li>
            {%endfor%}
        </ul>
    </body>
</html>
